<% var value = record[key] %>
<% if (field.model.type == 'boolean') { %>
    <span class="material-icons-outlined"><%= value ? "check_circle" : "block" %></span>
<% } else if (field.model.type == 'text') { %>
    <%- value %>
<% } else if (field.model.type == 'json') { %>
    <%- JSON.stringify(value) %>
<% } else if (field.model.type == 'association') { %>
    <%- viewsHelper.getAssociationValue(value, field) %>
<% } else if (field.model.type == 'association-many') { %>
    <%- viewsHelper.getAssociationValue(value, field) %>
<% } else { %>
    <% if (field.config.isIn) { %>
        <%- field.config.isIn[value] %>
    <% } else { %>
        <%- value %>
    <% } %>
<% } %>
