<% var config = configHelper.getConfig() %>
<aside class="bg-neutral-100 dark:bg-gray-900 menu pt-2 flex flex-col justify-between gap-5 md:fixed aside md:transition-transform overflow-y-auto">
    <div class="menu__items flex flex-col gap-3 h-fit">
        <% menuHelper.getMenuItems().forEach(function(menuItem) { %>
            <% var active = ""; if (menuItem && menuItem.entityName && entity && entity.name) {
                active = menuItem.entityName === entity.name ? 'active' : ''
            } %>

            <%# Collect accessRightsTokens from menuItem and its children %>
            <% var menuItemTokens = menuItem.actions ? menuItem.actions.map(item => {
                return item.accessRightsToken
            }).filter(item => {
                return item
            }) : [] %>
            <% if (menuItem.accessRightsToken) menuItemTokens.push(menuItem.accessRightsToken) %>
            <% if (enoughPermissions(menuItemTokens, req.session.UserAP)) { %>
                <section
                        class="menu__item py-1 <% if(!menuItem.actions && active) { %>bg-white dark:bg-blue-700<% } %>">
                    <div class="pl-5 nav-label cursor-pointer group text-black dark:text-gray-300 flex items-center">
                        <% if (menuItem.icon) { %>
                            <span class="group-hover:text-neutral-500 dark:text-gray-300 dark:group-hover:text-white navbar-icon transition mr-3">
                                    <i class="text-xl las la-<%= menuItem.icon %>"></i>
                                </span>
                        <% } %>

                        <%# For multiple menuItem %>
                        <% if (menuItem.actions && menuItem.actions.length > 0) { %>
                            <div class="menu__has-sub flex justify-between flex-1 overflow-hidden <% if(active) { %>menu__has-sub--active<% } %>">
                                <span class="group-hover:text-neutral-400 dark:text-gray-300 dark:group-hover:text-white transition font-medium overflow-hidden text-ellipsis whitespace-nowrap mr-10"><%= menuItem.title %></span>
                                <div class="menu__icon group-hover:after:bg-neutral-400 dark:group-hover:after:bg-white group-hover:before:bg-neutral-400 dark:group-hover:before:bg-white"></div>
                            </div>
                        <% } else { %>

                            <%# For single menuItem %>
                            <% if (hasPermission(menuItem.accessRightsToken, req.session.UserAP)) { %>
                                <a class="group-hover:text-neutral-400 dark:group-hover:text-white font-medium overflow-hidden text-ellipsis whitespace-nowrap pr-5"
                                   href="<%= menuItem.link %>"><%= __(menuItem.title) %></a>
                            <% } %>
                        <% } %>
                    </div>
                    <% if (menuItem.actions && menuItem.actions.length > 0) { %>
                        <div class="menu__sub-list  <% if(!active) { %>hidden<% } %>">
                            <ul class="flex flex-col gap-2 mt-3">
                                <% menuItem.actions.forEach(function(action) { %>
                                    <% if (hasPermission(action.accessRightsToken, req.session.UserAP)) { %>
                                        <li>
                                            <a class="text-black dark:text-gray-300 hover:text-neutral-400 dark:hover:text-white py-1 pl-9 text-ellipsis overflow-hidden whitespace-nowrap block w-full pr-3"
                                               href="<%= action.link %>">
                                                <i class="las la-<%= action.icon %>"></i>
                                                <%= __(action.title) %>
                                            </a>
                                        </li>
                                    <% } %>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                </section>
            <% } %>
        <% }) %>
    </div>
    <% if (config.showVersion) { %>
        <span class="text-center text-sm text-gray-600 dark:text-gray-300 mb-1">v<%= config.package.version %></span>
    <% } %>
</aside>
