<div class="custom-catalog__form-input">
    <div class="flex flex-col gap-4 mt-4">
        <div class="flex flex-col gap-2">
            <label class="admin-panel__title" for="targetBlankNewItem"><%= __("Open in a new window") %></label>
            <div class="checkbox relative">
                <input type="checkbox" id="targetBlankNewItem" name="targetBlank"
                       <% if(item.targetBlank) { -%>checked
                        <% } -%>
                >
                <span class="check"></span>
            </div>
            <input type="hidden" id="treeId" name="treeId" value="<%= item.id %>">
            <div id="embed"></div>
        </div>
    </div>
</div>
<script>
  {
    ky.get('<%- config.routePrefix %>/model/<%= item.type -%>/edit/<%= item.modelId -%>?without_layout=true').text().then(content => {
      const embed = document.getElementById('embed')
      embed.innerHTML = ` ${content}`;
      setTimeout(() => {
        const scripts = embed.getElementsByTagName('script');
        let i = 1
        for (let script of scripts) {
          let elem = document.getElementById(`emb_${i}`)
          if (elem) elem.remove()
          const newScript = document.createElement('script');
          newScript.text = script.innerHTML;
          newScript.setAttribute('id', `emb_${i}`);
          document.body.appendChild(newScript)
          i++
        }
      }, 0)
    })

  }
</script>
