<div class="custom-catalog__form">
    <div class="flex gap-4 items-top">
        <div class="flex flex-col gap-2" style="min-width: 200px">
            <label class="admin-panel__title" for="root-group"><%= __('Select') %> <%= __(item.name + 's') %></label>
            <select id="popup-select-item" class="select">
                <option selected disabled value=""><%= __('Select') %></option>
                <% items.forEach(itemF => { -%>
                    <option value="<%= itemF.id %>"><%= itemF.name %></option>
                <% }) -%>
            </select>
        </div>
        <div class="flex flex-col gap-2">
            <label class="admin-panel__title" for="targetBlank"><%= __("Open in a new window") %></label>
            <div class="checkbox relative">
                <input type="checkbox" id="targetBlank" name="targetBlank">
                <span class="check"></span>
            </div>
        </div>
    </div>
    <div>
        <span><b><%= __('OR') %></b></span>
    </div>
    <div>
        <div class="relative inline-flex">
            <button class="btn btn-add" id="popup-add-item"><i
                        class="las la-plus"></i><span><%= __("create new") %>  <%= __(item.name + 's') %></span>
            </button>
        </div>
    </div>
</div>
<script>
  {
    const btn = document.getElementById('popup-add-item')
    const select = document.getElementById('popup-select-item')
    let parentId = document.getElementById('parentId')
    let targetBlank = document.getElementById('targetBlank')
    // create new Model
    btn.addEventListener('click', async function () {
      let content = await ky.get('<%- config.routePrefix %>/model/<%= item.model -%>/add?without_layout=true').text()
      const embed = document.createElement('div');
      embed.id = 'embed';
      embed.innerHTML = `
			        <div class="modal-content">
		                <div class="custom-catalog__form-input">
			                <div class="flex flex-col gap-4 mt-4">
                                <div class="flex flex-col gap-2">
                                    <label class="admin-panel__title" for="targetBlankNewItem"><%= __("Open in a new window") %></label>
                                    <div class="checkbox relative">
                                        <input type="checkbox" id="targetBlankNewItem" name="targetBlank">
                                        <span class="check"></span>
                                    </div>
                                </div>
                                ${content}
                            </div>
                        </div>
                    </div>`;
      const popup = AdminPopUp.new()
      popup.content.appendChild(embed);
      setTimeout(() => {
        const scripts = embed.getElementsByTagName('script');
        let i = 1
        for (let script of scripts) {
          let elem = document.getElementById(`emb_${i}`)
          if (elem) elem.remove()
          const newScript = document.createElement('script');
          newScript.text = script.innerHTML;
          newScript.setAttribute('id', `emb_${i}`);
          document.body.appendChild(newScript)
          i++
        }
      }, 0)
    })

    // select created model
    select.addEventListener('change', function (e) {
      ky.post('', {
        json: {
          data: {
            record: e.target.value,
            parentId: parentId.value,
            targetBlank: targetBlank.checked,
            _method: 'select',
            type: "<%= item.type %>"
          }, _method: 'createItem'
        }
      }).then(r => {
        window.AdminPopUp.closeAll()
      })
    })
  }
</script>
