<div class="checkbox relative">
    <% if (value) { %>
        <input type="checkbox" id="fake-form-<%= key %>" name="fake-<%= key %>" value="1" <%= field.config.disabled
        && 'disabled' || '' %> checked>
    <% } else { %>
        <input type="checkbox" id="fake-form-<%= key %>" name="fake-<%= key %>" value="0" <%= field.config.disabled
        && 'disabled' || '' %>>
    <% } %>

    <span class="check"></span>
</div>
<input type="hidden" id="form-<%= key %>" name="<%= key %>" value="<%= value %>">
<script>
  document.querySelector('.checkbox #fake-form-<%= key -%>').addEventListener('change', function () {
    let val = this.value;
    if (val === '0') {
      this.value = '1';
      document.getElementById('form-<%= key %>').value = '1';
    } else {
      this.value = '0';
      document.getElementById('form-<%= key %>').value = '0';
    }
  });
</script>
