<% if (type === "string" && isIn.length) { %>
    <%- include("select") %>
<% } else { %>
    <%
        var fieldType = 'text'
        if (type === "password") {
            fieldType = 'password'
        }
        if (type === "date") {
            fieldType = 'date'
        }
        if (type === "datetime") {
            fieldType = 'datetime-local'
        }

        if (type === "time") {
            fieldType = 'time'
        }

        if (type === "color") {
            fieldType = 'color'
        }

        if (type === "email") {
            fieldType = 'email'
        }
        if (type === "month") {
            fieldType = 'month'
        }
        if (type === "week") {
            fieldType = 'week'
        }

        if (type === "range") {
            fieldType = 'range'
        }

        if (type === "integer" || type === 'float' || type === "number") {
            fieldType = 'number'
        }
    %>
    <% if (entity.config.model && configHelper.isId(field, entity.config.model)) { %>
        <% field.config.disabled = true %>
    <% } %>
    <div class="widget_narrow <% if (type === "range") { -%>flex gap-1 items-center<% } -%>">
        <% if (type === "range") { -%>
            <input type="range" class="w-1/2"
                    <%= field.config.required && 'required' %>
                    <%= field.config.disabled && 'disabled' %>
                    <%= field.config.options?.min && ' min=' + field.config.options.min %>
                    <%= field.config.options?.max && ' max=' + field.config.options.max %>
                   value="<%= value || '' %>"
                   name="<%= key %>"
                   oninput="this.nextElementSibling.value = this.value"/>
            <output><%= value || '50' %></output>
        <% } else { -%>
            <input class="text-input<% if (fieldType === 'text' || fieldType === 'email' || fieldType === 'password') { -%> w-full<% } -%>"
                   type="<%= fieldType %>"
                    <%= field.config.required && 'required' %>
                    <%= field.config.disabled && 'disabled' %>
                   value="<%= value || '' %>"
                   name="<%= key %>"/>
        <% } -%>
    </div>
<% } %>

