<%
const config = field.config
%>
<script>
  if (document.readyState === "complete" || document.readyState === "loaded") {
    MountMediaManager({
      id: "#mediamanager-<%= key %>",
      url: "<%- config.routePrefix %>/media-manager-uploader/<%= config.options?.id ? config.options.id : 'default' %>",
      toJsonId: "mediamanager-json-<%= key %>",
      group: "<%- config.options?.group ? config.options.group : '' %>",
      list: <%- value ? JSON.stringify(value) : JSON.stringify([]) %>,
      managerId: "<%= config.options?.id ? config.options.id : 'default' %>"
    })
  } else {
    document.addEventListener('DOMContentLoaded', function () {
      MountMediaManager({
        id: "#mediamanager-<%= key %>",
        url: "<%- config.routePrefix %>/media-manager-uploader/<%= config.options?.id ? config.options.id : 'default' %>",
        toJsonId: "mediamanager-json-<%= key %>",
        group: "<%- config.options?.group ? config.options.group : '' %>",
        list: <%- value ? JSON.stringify(value) : JSON.stringify([]) %>,
        managerId: "<%- config.options?.id ? config.options.id : 'default' %>"
      })
    })
  }
</script>
<div id="mediamanager-<%= key %>" class="mediamanager"></div>
<textarea id="mediamanager-json-<%= key %>" class="w-full mt-4" rows="10" name="<%= key %>"></textarea>

