<% var data = typeof value === 'object' ? JSON.stringify(value) : field.config.options?.default ? JSON.stringify(field.config.options.default) : value  %>
<textarea
    <%= field.config.required && 'required' %>
    <%= field.config.disabled && 'disabled'%>
    name="<%= key %>"
    id="form-<%= key %>" hidden><%- data %></textarea>

<script>

        $('#form-<%= key %>').hide().after('<div id="form-<%= key %>-jsoneditor" style="width:100%; height:320px;"></div>');
        jsonEditor['<%= key %>'] = new JSONEditor(
            $('#form-<%= key %>-jsoneditor')[0],
            <% if(field.config.options){ %>
                {...<%- JSON.stringify(field.config.options) %>,
                    onValidationError: function(errors) {
                        formState.hasError = Boolean(errors.length);
                    },
                    language: '<%- req.session.UserAP.locale %>',
                    onChange: function() {
                        $('#form-<%= key %>').val(JSON.stringify(jsonEditor['<%= key %>'].get()));
                    }
                }
            <%}else{%>
                {modes: ['code', 'form', 'text', 'tree', 'view'], mode: "tree", onChange: function() {
                        $('#form-<%= key %>').val(JSON.stringify(jsonEditor['<%= key %>'].get()));
                    }}
            <% } %>
            ,<% if(typeof value === "object"){ %><%- data %><%}else{%>'<%- data %>'<% } %>
        )

</script>
