<%- include("head") %>
<%- include("headContent") %>
<% var config = configHelper.getConfig() %>
<% if (req.session.UserAP.locale !== 'en') { %>
    <script src="<%- config.routePrefix %>/assets/js/ckeditor5/translations/<%= req.session.UserAP.locale %>.js"></script>
<% } %>
<script type="module" src="<%- viteRender('src/assets/js/controls.js') %>"></script>
<script src="<%- config.routePrefix %>/assets/ckeditor5/ck5.js"></script>

<script>
  var formStateProx = {
    hasError: false
  };
  var formState = new Proxy(formStateProx, {
    set: function (target, key, value) {
      let submitButton = document.getElementById("submit");
      if (submitButton && key === "hasError") {
        if (value === true) {
          submitButton.setAttribute("disabled", true);
        } else {
          submitButton.removeAttribute("disabled");
        }
      }
      target[key] = value;
      return true;
    }
  });
</script>

<div class="content__body">
    <div class="flex gap-3 mt-4">
        <% var actionType = 'add' %>
        <%- include("mixin/globalActions", {actionType: actionType}) %>
    </div>
    <div class="flex gap-3">
        <a href="<%= entity.uri %>/">
            <button class="btn btn-back">
                <span class="material-icons-outlined">arrow_back</span>
                <%= __("Back") %>
            </button>
        </a>
    </div>

    <form id="form" action="<%= entity.uri %>/add" method="POST" enctype="multipart/form-data">

        <%# global variables %>
        <script>
          var aceCounter = 0;
          var tuiEditor = {};
          let editor = [];
          let textarea = [];
        </script>
        <div class="mt-14 flex flex-col gap-10 max-w-[1144px]">
            <%- include("./partials/content/add.ejs") %>
            <span id="error-btn-submit-text"
                  style="display: none"><b>One or more fields are filled in incorrectly</b></span>
            <p>
                <button class="btn btn-green" id="submit" onclick="submitForm()">
                    <%= __("Save") %>
                </button>
            </p>
        </div>
    </form>
</div>

<script>
  function checkInitSubmitFormStatus() {
    let submitButton = document.getElementById("submit");
    if (formState.hasError) {
      submitButton.setAttribute("disabled", true);
    }
  }

  checkInitSubmitFormStatus();

  function submitForm() {
    // Assign JSONEditor value to form textarea
    for (var id in jsonEditor) {
      try {
        var json = jsonEditor[id].get();
        $('#form-' + id).val(JSON.stringify(json));
      } catch (e) {
        alert('JSON is invalid.');
        $('#form-' + id).show().focus().hide();
        jsonEditor[id].focus();
        return false;
      }
    }
    ;

    // Assign TUIEditor value to form textarea
    for (var id in tuiEditor) {
      const editor = tuiEditor[id];
      document.querySelector(`#form-${id}`).value = editor.getMarkdown();
    }

    for (var id in apTables) {
      try {
        var schema = apTables[id].getSchema();
        var table = apTables[id].getData();
        table = table.filter(item => {
          return !([...new Set(item)].length === 1 && [...new Set(item)][0] === null);
        });
        if (schema && Object.keys(schema).length) {
          table = table.map((item) => {
            var newItem = {};
            var keys = Object.keys(schema);
            for (let i = 0; i < keys.length; i++) {
              newItem[keys[i]] = item[i];
            }
            return newItem;
          });
        } else {
          table = table.map((item) => {
            return [null].concat(item);
          });
        }
        $('#form-' + id).val(JSON.stringify(table));
      } catch (e) {
        alert('Table is invalid!');
        return false;
      }
    }
    document.getElementById('form').submit();
  }
</script>

<%- include("footer") %>
