<%- include("head") %>
<%- include("headContent") %>
<div class="content__body">
    <a href="<%= entity.uri %>/">
        <button class="btn btn-back">
            <span class="material-icons-outlined">arrow_back</span>
            <%= __("Back") %>
        </button>
    </a>
    <form id="addGroupForm" action="<%= entity.uri %>/add" method="POST">
        <div class="mt-14 flex flex-col gap-10 max-w-[1144px]">
            <h2 class="font-bold text-xl"><%= __("Group settings") %></h2>
            <div class="flex flex-col gap-3">
                <label class="admin-panel__title" for="name"><%= __("Group name") %></label>
                <div class="widget_narrow">
                    <input class="text-input w-full" type="text" id="name" name="name">
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <label class="admin-panel__title" for="description"><%= __("Group description") %></label>
                <div class="widget_narrow">
                    <textarea class="textarea" id="description" name="description"></textarea>
                </div>
            </div>

            <% if (users?.length) { %>
                <h2 class="text-xl font-bold"><%= __("Members") %></h2>
                <div class="flex flex gap-3 items-center">
                    <% for (let user of users) { %>
                        <label class="admin-panel__title"
                               for="user-checkbox-<%= user.id %>"><%= user.fullName %></label>
                        <div class="checkbox relative">
                            <input type="checkbox" id="user-checkbox-<%= user.id %>"
                                   name="user-checkbox-<%= user.id %>">
                            <span class="check"></span>
                        </div>
                    <% } %>
                </div>
            <% } %>

            <% if (Object.keys(groupedTokens).length) { %>
                <% for (let [department, tokens] of Object.entries(groupedTokens)) { %>
                    <h2 class="text-xl font-bold mt-4"><%= department %></h2>
                    <% for (let token of tokens) { %>
                        <div class="flex gap-3 items-center">
                            <div class="flex gap-3">
                                <label class="admin-panel__title opacity-70"
                                       for="token-checkbox-<%= token.id %>"><%= token.name %></label>
                                <div class="tooltip tooltip-right group cursor-pointer">
                                    <i class="las la-info-circle"></i>
                                    <div class="tooltip__content invisible opacity-0 group-hover:visible group-hover:opacity-100">
                                        <span><%= token.description %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox relative">
                                <input type="checkbox" id="token-checkbox-<%= token.id %>"
                                       name="token-checkbox-<%= token.id %>">
                                <span class="check"></span>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>

            <div>
                <input class="clr-input" type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </div>

            <p>
                <button class="btn btn-green" id="submit" onclick="submitForm()">
                    <%= __("Save") %>
                </button>
            </p>
        </div>
    </form>
</div>
<script>
  function submitForm() {
    // check all fields
    $("#addGroupForm").submit();
  }
</script>
