<%- include("head") %>
<%- include("headContent") %>
<script type="module" src="<%- viteRender('src/assets/js/controls.js') %>"></script>
<div class="content__body">
    <a href="<%= entity.uri %>/">
        <button class="btn btn-back">
            <span class="material-icons-outlined">arrow_back</span>
            <%= __("Back") %>
        </button>
    </a>
    <form id="addUserForm" action="<%= entity.uri %>/add" method="POST">
        <div class="mt-14 flex flex-col gap-10 max-w-[1144px]">
            <h2 class="font-bold text-xl"><%= __("User settings") %></h2>
            <div class="flex gap-16 lg:flex-wrap">
                <div class="basis-1/2 lg:basis-full flex flex-col justify-between">
                    <div class="flex flex-col gap-3">
                        <label class="admin-panel__title" for="userLogin"><%= __("Login") %></label>
                        <div class="widget_narrow">
                            <input class="text-input w-full" type="text" id="userLogin" name="login">
                        </div>
                    </div>

                    <div class="flex flex-col gap-3">
                        <label class="admin-panel__title" for="fullName"><%= __("Full name") %></label>
                        <div class="widget_narrow">
                            <input class="text-input w-full" type="text" id="fullName" name="fullName">
                        </div>
                    </div>

                    <div class="flex flex-col gap-3">
                        <label class="admin-panel__title" for="email"><%= __("E-mail") %></label>
                        <div class="widget_narrow">
                            <input class="text-input w-full" type="email" id="email" name="email">
                        </div>
                    </div>
                </div>
                <div class="basis-1/2 lg:basis-full flex flex-col justify-between gap-4">
                    <div class="flex flex-col gap-3">
                        <label class="admin-panel__title" for="timezone"><%= __("Timezone") %></label>
                        <div class="widget_narrow">
                            <select-pure name="timezone" id="timezone">
                                <option-pure value="undefined">-------</option-pure>
                                <% for (let timezone of config.timezones) { %>
                                    <option-pure value="<%= timezone.id %>">
                                        <%= timezone.name %>
                                    </option-pure>
                                <% } %>
                            </select-pure>
                        </div>
                    </div>

                    <% if (req.session.UserAP.isAdministrator) { %>
                        <div class="flex flex-col gap-3">
                            <label class="admin-panel__title" for="date"><%= __("Profile expires") %></label>
                            <div class="widget_narrow">
                                <input class="text-input" type="date" id="date" name="date">
                            </div>
                        </div>
                    <% } %>

                    <% if (config.translation) { %>
                        <div class="flex flex-col gap-3">
                            <label class="admin-panel__title" for="locale"><%= __("Locale") %></label>
                            <div class="widget_narrow">
                                <select-pure name="locale" id="locale">
                                    <option-pure value="default">default</option-pure>
                                    <% for (let locale of config.translation.locales) { %>
                                        <option-pure value="<%= locale %>">
                                            <%= locale %>
                                        </option-pure>
                                    <% } %>
                                </select-pure>
                            </div>
                        </div>
                    <% } %>
                    <% if (req.session.UserAP.isAdministrator) { %>
                        <div class="flex flex-col gap-3">
                            <label class="admin-panel__title" for="isAdmin"><%= __("Is Administrator") %></label>
                            <div class="checkbox relative">
                                <input type="checkbox" id="isAdmin" name="isAdmin">
                                <span class="check"></span>
                            </div>
                        </div>
                    <% } %>
                    <% if (req.session.UserAP.isAdministrator) { %>
                        <div class="flex flex-col gap-3">
                            <label class="admin-panel__title" for="isConfirmed"><%= __("Is confirmed") %></label>
                            <div class="checkbox relative">
                                <input type="checkbox" id="isConfirmed" name="isConfirmed">
                                <span class="check"></span>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="admin-panel__wrapper-title flex items-center">
                    <label class="admin-panel__title text-2xl"><%= __("Password") %></label>
                    <div class="tooltip tooltip-right group cursor-pointer flex items-center">
                        <span class="material-icons-outlined text-blue-400">info</span>
                        <div class="tooltip__content invisible opacity-0 group-hover:visible group-hover:opacity-100">
                            <span><%= __("Leave this field empty if you don't want to change the password") %></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="admin-panel__wrapper-title flex items-center">
                    <label class="admin-panel__title"><%= __("Password") %></label>
                </div>
                <div class="widget_narrow">
                    <input class="text-input" type="password" id="userPassword" name="userPassword">
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="admin-panel__wrapper-title flex items-center">
                    <label class="admin-panel__title"><%= __("Repeat password") %></label>
                </div>
                <div class="widget_narrow">
                    <input class="text-input" type="password" id="repeatUserPassword" name="repeatUserPassword">
                </div>
            </div>

            <% if (!req.session.UserAP.isAdministrator && groups.length) { %>
                <h2 class="text-xl font-bold"><%= __("User groups") %></h2>
                <div class="flex flex-col gap-3">
                    <% for (let group of groups) { %>
                        <div class="clr-checkbox-inline">
                            <label class="font-medium" for="group-checkbox-<%= group.id %>"><%= group.name %></label>
                            <div class="checkbox relative">
                                <input type="checkbox" id="group-checkbox-<%= group.id %>"
                                       name="group-checkbox-<%= group.id %>">
                                <span class="check"></span>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>

            <input class="clr-input" type="hidden" name="_csrf" value="<%= _csrf %>"/>

            <p>
                <button class="btn btn-green" id="submit" onclick="submitForm()">
                    <%= __("Save") %>
                </button>
            </p>
        </div>
    </form>
</div>
<script>
  function submitForm() {
    if (document.getElementById('userPassword').value !== document.getElementById('repeatUserPassword').value) {
      alert('Values in "password" and "repeatPassword" fields should be the same');
    } else {
      document.getElementById("addUserForm").submit();
    }
  }
</script>
