<%- include("head") %>
<%- include("headContent") %>

<script type="module" src="<%- viteRender('src/assets/js/jsonForms/json-forms.js') %>"></script>
<% if (Boolean((configHelper.getConfig()).dashboard)) { %>
    <% if(hasPermission('widgets', req.session.UserAP)){ -%>
        <script type="module" src="<%- viteRender('src/assets/js/widgets/app.js') %>"></script>
        <div class="content__body">
            <div id="widgets"></div>
        </div>

        <div class="content__body">
            <div id="installStep"></div>
            <script>
                // document.addEventListener('DOMContentLoaded', function () {
                //     MountJSONForm({
                //         mountDivId: '#installStep'
                //         // schema,
                //         // uischema,
                //     })
                // })
            </script>
        </div>
    <% } -%>
<% } else { %>
    HELLO
<% } %>
<%- include("footer") %>
