<%- include("head") %>
<%- include("headContent") %>
<div class="content__body">
    <div class="flex gap-3">
        <a href="<%= entity.uri %>/">
            <button class="btn btn-back">
                <span class="material-icons-outlined">arrow_back</span>
                <%= __("Back") %>
            </button>
        </a>
        <a href="<%= entity.uri %>/remove/<%= group.id %>" onclick="return confirm('<%= __('Are you sure?') %>')">
            <button class="btn btn-red">
                <%= __("Delete") %>
                <span class="material-icons-outlined">delete</span>
            </button>
        </a>
    </div>
    <form id="editGroupForm" action="<%= entity.uri %>/edit/<%= group.id %>" method="POST">
        <div class="mt-14 flex flex-col gap-10 max-w-[1144px]">
            <h2 class="font-bold text-xl"><%= __("Group settings") %></h2>
            <div class="flex flex-col gap-3">
                <label class="admin-panel__title" for="name"><%= __("Group name") %></label>
                <div class="widget_narrow">
                    <input class="text-input w-full" type="text" id="name" name="name" value="<%= group.name %>">
                </div>
            </div>

            <div class="flex flex-col gap-3">
                <label class="admin-panel__title" for="description"><%= __("Group description") %></label>
                <div class="widget_narrow">
                    <textarea class="textarea" id="description"
                              name="description"><%= group.description %></textarea>
                </div>
            </div>

            <% if (users.length) { %>
                <h2 class="text-xl font-bold"><%= __("Members") %></h2>
                <div class="flex flex gap-3">
                    <% for (let user of users) { %>
                        <% var userGroupsIds = [] %>
                        <% if (user.groups && user.groups.length) { %>
                            <% userGroupsIds = user.groups.map((group) => {
                                return group.id
                            }) %>
                        <% } %>
                        <label class="admin-panel__title"
                               for="user-checkbox-<%= user.id %>"><%= user.fullName %></label>
                        <div class="checkbox relative">
                            <% if (userGroupsIds.includes(group.id)) { %>
                                <input type="checkbox" id="user-checkbox-<%= user.id %>"
                                       name="user-checkbox-<%= user.id %>"
                                       checked>
                            <% } else { %>
                                <input type="checkbox" id="user-checkbox-<%= user.id %>"
                                       name="user-checkbox-<%= user.id %>">
                            <% } %>
                            <span class="check"></span>
                        </div>
                    <% } %>
                </div>
            <% } %>

            <% if (Object.keys(groupedTokens).length) { %>
                <% for (let [department, tokens] of Object.entries(groupedTokens)) { %>
                    <h2 class="text-xl font-bold mt-4"><%= department %></h2>
                    <% for (let token of tokens) { %>
                        <div class="flex gap-3 items-center">
                            <div class="flex gap-3">
                                <label class="admin-panel__title"
                                       for="token-checkbox-<%= token.id %>"><%= token.name %></label>
                                <div class="tooltip tooltip-right group cursor-pointer flex items-center">
                                    <span class="material-icons-outlined"> info </span>
                                    <div class="tooltip__content invisible opacity-0 group-hover:visible group-hover:opacity-100">
                                        <span><%= token.description %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox relative">
                                <% if (group.tokens && group.tokens.includes(token.id)) { %>
                                    <input type="checkbox" id="token-checkbox-<%= token.id %>"
                                           name="token-checkbox-<%= token.id %>" checked>
                                <% } else { %>
                                    <input type="checkbox" id="token-checkbox-<%= token.id %>"
                                           name="token-checkbox-<%= token.id %>">
                                <% } %>
                                <span class="check"></span>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>

            <div>
                <input class="clr-input" type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </div>

            <p>
                <button class="btn btn-green" id="submit" onclick="submitForm()">
                    <%= __("Save") %>
                </button>
            </p>
        </div>
    </form>

    <script>
      function submitForm() {
        // check all fields
        $("#editGroupForm").submit();
      }
    </script>
