<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="<%- config.routePrefix %>/assets/style/style.min.css"/>
    <!-- Main Script -->
    <script src="<%- config.routePrefix %>/assets/js/script.min.js"></script>
    <style>
        .alerts {
            padding-left: 24px !important;
        }
    </style>
</head>

<body>

<% if (config &&
        config.translation &&
        config.translation.locales &&
        config.translation.defaultLocale) { %>
    <% var isLocalized = true; %>
<% } %>

<div class="bg-gray-50 dark:bg-slate-800 dark:text-slate-100">
    <div class="flex min-h-screen items-center justify-center bg-gradient-to-tr from-purple-400 dark:from-slate-700 via-pink-500 dark:via-slate-900 to-red-500 dark:to-slate-800">
        <form class="rounded-2xl flex-col dark:bg-slate-900/70 bg-white dark:bg-slate-900/70 flex w-4/12 lg:w-6/12 md:w-7/12 xs:w-11/12 shadow-2xl"
              method="post" action="<%- config.routePrefix %>/init_user">
            <%- include("mixin/alerts") %>
            <div class="flex-1 p-6">
                <div class="mb-2">
                    <h3 class="font-medium"><%= __("Welcome") %>!</h3>
                    <p>
                        <%= __("Create a new administrator") %>
                    </p>
                </div>
                <div class="mb-6 last:mb-0">
                    <label class="block font-bold mb-2"><%= __("Login") %></label>
                    <div>
                        <div class="relative">
                            <input class="px-3 py-2 max-w-full focus:ring focus:outline-none border-gray-700 rounded w-full dark:placeholder-gray-400 h-12 border bg-white dark:bg-slate-800 pl-10"
                                   type="text" placeholder="<%= __("Login") %>" name="login"/>
                            <span class="inline-flex justify-center items-center w-10 h-12 absolute top-0 left-0 z-10 pointer-events-none text-gray-500 dark:text-slate-400">
                            <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
                                <path fill="currentColor"
                                      d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
                            </svg>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="mb-6 last:mb-0">
                    <label class="block font-bold mb-2"><%= __("Password") %></label>
                    <div>
                        <div class="relative">
                            <input class="px-3 py-2 max-w-full focus:ring focus:outline-none border-gray-700 rounded w-full dark:placeholder-gray-400 h-12 border bg-white dark:bg-slate-800 pl-10"
                                   type="password" placeholder="<%= __("Password") %>" name="password"/>
                            <span class="inline-flex justify-center items-center w-10 h-12 absolute top-0 left-0 z-10 pointer-events-none text-gray-500 dark:text-slate-400">
                            <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block"><path
                                        fill="currentColor"
                                        d="M21 13H14.4L19.1 17.7L17.7 19.1L13 14.4V21H11V14.3L6.3 19L4.9 17.6L9.4 13H3V11H9.6L4.9 6.3L6.3 4.9L11 9.6V3H13V9.4L17.6 4.8L19 6.3L14.3 11H21V13Z"></path></svg>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="mb-6 last:mb-0">
                    <label class="block font-bold mb-2"><%= __("Confirm password") %></label>
                    <div>
                        <div class="relative">
                            <input class="px-3 py-2 max-w-full focus:ring focus:outline-none border-gray-700 rounded w-full dark:placeholder-gray-400 h-12 border bg-white dark:bg-slate-800 pl-10"
                                   type="password" placeholder="<%= __("Confirm password") %>" name="confirm_password"/>
                            <span class="inline-flex justify-center items-center w-10 h-12 absolute top-0 left-0 z-10 pointer-events-none text-gray-500 dark:text-slate-400">
                            <svg viewBox="0 0 24 24" width="16" height="16" class="inline-block"><path
                                        fill="currentColor"
                                        d="M21 13H14.4L19.1 17.7L17.7 19.1L13 14.4V21H11V14.3L6.3 19L4.9 17.6L9.4 13H3V11H9.6L4.9 6.3L6.3 4.9L11 9.6V3H13V9.4L17.6 4.8L19 6.3L14.3 11H21V13Z"></path></svg>
                        </span>
                        </div>
                    </div>
                </div>

                <% if (isLocalized) { %>
                    <div class="mb-6 last:mb-0">
                        <label class="block font-bold mb-2"><%= __("Locale") %></label>
                        <div class="widget_narrow">
                            <select-pure name="locale" id="locale">
                                <% for (let locale of config.translation.locales) { %>
                                    <option-pure value="<%= locale %>" <%= locale === config.translation.defaultLocale ? 'selected' : '' %>>
                                        <%= locale %>
                                    </option-pure>
                                <% } %>
                            </select-pure>
                        </div>
                    </div>
                <% } %>
                <p>
                    <button class="inline-flex justify-center items-baseline gap-1 whitespace-nowrap focus:outline-none transition-colors cursor-pointer rounded border py-2 px-3 text-white bg-blue-500 dark:bg-blue-700 dark:hover:text-slate-300 font-medium border-green-500 dark:border-gray-900 hover:bg-blue-700 dark:hover:bg-blue-900"
                            type="submit"><%= __("Create") %></button>
                </p>
            </div>
        </form>
    </div>
</div>
<script>
  //dark-mode
  const dark = localStorage.getItem('__dark-mode')
  const html = document.querySelector('html')

  if (dark === '1') {
    html.classList.add('dark')
  }
</script>
</body>
</html>
