<%- include("head") %>
<%- include("headContent") %>
<script type="module" src="<%- viteRender('src/assets/js/listDataTable.js') %>"></script>
<div class="content__body">
    <div class="flex gap-3">
        <% var actionType = 'list' %>
        <% if (entity.config.add && hasPermission(`create-${entity.name}-model`, req.session.UserAP)) { %>
            <a href="<%= entity.uri %>/add" id="add">
                <button class="btn btn-add"><i class="las la-plus"></i><span><%= __('create') %></span></button>
            </a>
        <% } %>
        <%- include("mixin/globalActions", {actionType: actionType}) %>
    </div>
    <div class="text-sm md:mt-3">
        <table class="table" id="list">
            <thead>
            <tr>
                <th>
                    <%= __('Actions') %>
                </th>
                <% Object.keys(fields).forEach(function(key) { %>
                    <% var field = fields[key] %>
                    <th>
                        <%= __(field.config.title) %>
                    </th>
                <% }) %>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#list thead tr').clone(true).insertBefore('#list thead tr');
        $('#list thead tr:eq(0) th').each(function (i) {
            if (i === 0) return;
            $(this).html('<input class="list-search" type="text" placeholder="" />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });
        var table = $('#list').DataTable({
            ajax: {
                url: '<%= entity.uri %>/json',
                type: "POST"
            },
            sDom: 'Rfrtlip',
            fixedHeader: true,
            fixedColumns: true,
            scrollX: true,
            responsive: true,
            processing: true,
            serverSide: true,
            language: {
                url: '<%- config.routePrefix %>/assets/datatables/i18n/<%= req.session.UserAP.locale !== undefined ? req.session.UserAP.locale : "en" %>.json'
            },
            "columnDefs": [{
                targets: 0,
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        data = "";
                        if (<%- hasPermission(`update-${entity.name}-model`, req.session.UserAP) %>) {
                            data += '<a href="<%= entity.uri %>/edit/' + row[0] + '" class="list-action"><i class="las la-edit"></i><%= __('Edit') %></a><br>';
                        } else if (<%- hasPermission(`read-${entity.name}-model`, req.session.UserAP) %>) {
                            data += '<a href="<%= entity.uri %>/view/' + row[0] + '" class="list-action"><i class="las la-eye"></i><%= __('View') %></a><br>';
                        }
                        <%- include("mixin/list/inlineActions") %>
                    }
                    return data;
                }
            }]
        });
    });

</script>
<%- include("footer") %>
