<%- include("head") %>
<%- include("headContent") %>
<div class="content__body">
    <% if ( Boolean((configHelper.getConfig()).welcome) && Boolean((configHelper.getConfig()).welcome.title) && Boolean((configHelper.getConfig()).welcome.text)) { %>
        <div class="text-3xl mb-8"><%- (configHelper.getConfig()).welcome.title %></div>
        <div class="control__content">
            <%- (configHelper.getConfig()).welcome.text %>
        </div>
    <% } else { %>
        <div class="text-3xl mb-8">Adminizer</div>
        <div class="control__content">
            <%= __("This is opensource project") %>: &nbsp;<a target="_blank" href="https://github.com/adminization/adminizer">[GitHub]</a>
        </div>
    <% } %>
</div>
<%- include("footer") %>
