<% var idField = configHelper.getIdentifierField(entity.config.model) %>
<% var data = record %>
<% var config = configHelper.getConfig() %>

<% Object.keys(fields).forEach(function(key) { %>
    <% if ((!config.showORMtime) && (key === 'createdAt' || key === 'updatedAt')) return %>
    <% var field = fields[key] %>
    <% var value = viewsHelper.getFieldValue(key, field, data) %>
    <div class="flex flex-col gap-3">
        <div class="admin-panel__wrapper-title">
            <label class="admin-panel__title"
                   for="form-<%= key %>"><%= __(fields[key].config.title) %></label>
            <% if(fields[key].config.tooltip) { %>
                <div class="tooltip tooltip-right group cursor-pointer">
                    <i class="las la-info-circle text-blue-400"></i>
                    <div class="tooltip__content group-hover:visible group-hover:opacity-100">
                        <span><%= __(fields[key].config.tooltip) %></span>
                    </div>
                </div>
            <% } %>
        </div>
        <% if (field.config.description) { %>
            <div class="admin-panel__description">
                <%- __(field.config.description) %>
            </div>
        <% } %>
        <div class="admin-panel__widget <%= field.config.disabled && 'disabled' %>">
            <%- include("../../mixin/fieldWidget", {field: field, value: value, key: key}) %>
        </div>
    </div>
<% }) %>
<% if (configHelper.isCsrfEnabled()) { %>
    <div>
        <input class="clr-input" type="hidden" name="_csrf" value="<%= _csrf %>"/>
    </div>
<% } %>
